body {
  width: 70%;
  margin: 10px auto;
  background-color: #E3DEDA;
}

#headline {
   width: 100%;
   background-color: #ADA9A7;
   background-position: center;
   border-radius: 10px;
   text-align: center;
   font-size: 50px;
   font-style: oblique;
   font-family: arial sans-serif;
   padding: 10px;
}

a {
   color: #524B8F;
}

li {
   display: inline-block;
   height: 42px;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   width: 33.33%;
   float:left;
}

.navBar a:hover {
    background-color: #D2AFFC;
}

.blogPost {
  width: 100%;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  background-color: #FAF4F1;
  border-radius: 10px;
  border-bottom: 2px solid #ABABAB;
  padding: 10px;
}

.category {
  font-style: italic;
  font-size: 18px;
}

img {
  float: left;
  margin: 30px 30px 30px 0px;
  height: 300px;
  width: auto;
}

footer {
   text-align: center;
   font-weight: bold;
}
#topReturn {
  font-size: 16px;
  color: #524B8F;
}
