.site-wrap {
  position: relative;
  background-color: #6E8EFF;
  left: 0px;
}

#dropDownList > form {
  display: inline-block;
}

#dropDownList {
  text-align: center;
}

body {
  background-color: gray;
}

#headline {
   width: 100%;
   height: auto;
   background-color: #ADA9A7;
   background-position: center;
   border-radius: 10px;
   text-align: center;
   font-size: 50px;
   font-style: oblique;
   font-family: arial sans-serif;
   padding: 10px;
}

.blogPost {
  width: 90%;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  background-color: #FAF4F1;
  border-radius: 10px;
  border-bottom: 2px solid #ABABAB;
  padding: 10px;
}

.category {
  font-style: italic;
  font-size: 18px;
}

img {
    width: 100%;
    height: auto;
}

footer {
   text-align: center;
   font-weight: bold;
}
#topReturn {
  font-size: 16px;
  color: #524B8F;
}
